<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a01.talent.dao.EvaluateDao">
    <resultMap id="ImportantMap" type="ImportantPo">
        <result property="com_id" column="company_id"/>
        <result property="archive_id" column="archive_id"/>
        <result property="employee_id" column="employee_id"/>
        <result property="employee_name" column="emp_name"/>
        <result property="state" column="state"/>
        <result property="excellent_thing" column="excellent_thing"/>
        <result property="violation_thing" column="violation_thing"/>
        <result property="record_time" column="record_time"/>
    </resultMap>
    <select id="findAllImportant" resultMap="ImportantMap" parameterType="long">
        SELECT a.company_id,a.archive_id,a.employee_id,b.emp_name,a.state,a.excellent_thing,a.violation_thing,a.record_time
         FROM sys_com_important a,sys_com_employee b WHERE a.company_id=#{com_id} AND a.employee_id=b.employee_id
    </select>

    <select id="findExcellent" parameterType="long" resultMap="ImportantMap">
        SELECT a.company_id,a.archive_id,a.employee_id,b.emp_name,a.state,a.excellent_thing,a.record_time
         FROM sys_com_important a,sys_com_employee b WHERE a.company_id=#{com_id} AND a.excellent_thing is not null and a.employee_id=b.employee_id
    </select>

    <select id="findViolation" parameterType="long" resultMap="ImportantMap">
        SELECT a.company_id,a.archive_id,a.employee_id,b.emp_name,a.state,a.violation_thing,a.record_time
         FROM sys_com_important a,sys_com_employee b WHERE a.company_id=#{com_id} AND a.violation_thing is not null and a.employee_id=b.employee_id
    </select>

    <insert id="insertImportant" parameterType="ImportantPo">
         INSERT INTO sys_com_important(company_id,archive_id,employee_id,state,excellent_thing,violation_thing,record_time)
         VALUES(#{com_id},#{archive_id},#{employee_id},#{state},#{excellent_thing},#{violation_thing},#{record_time})
    </insert>

</mapper>