<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.a01.talent.dao.LoginDao">
    <resultMap id="LoginMap" type="LoginPo">
        <id property="username" column="username" />
        <result property="role_id" column="role_id" />
        <result property="company_id" column="company_id" />
    </resultMap>
    <select id="findLogin" parameterType="LoginVo" resultMap="LoginMap">
        select * from sys_login where username=#{username} and password=#{password}
    </select>
</mapper>