<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--查询整体菜单栏-->
<mapper namespace="com.a01.talent.dao.MenusDao">
    <sql id="m1">
        SELECT p1.ps_id as id,p1.ps_name as name,p2.ps_api_path as path,p2.ps_api_order from sys_permission p1,sys_permission_api p2
    </sql>
    <resultMap id="MenusMap" type="Menus">
        <id property="id" column="id" />
        <result property="menusName" column="name" />
        <result property="path" column="path" />
        <result property="order" column="ps_api_order" />
        <collection property="children" ofType="Menus" column="id" select="getMenuChildren"/>
    </resultMap>
    <select id="getMenus" parameterType="Menus" resultMap="MenusMap">
        <include refid="m1" />
        where p1.ps_level = '0' and p1.ps_id=p2.ps_id  ORDER BY p2.ps_api_order ASC
    </select>
    <select id="getMenuChildren" parameterType="int" resultMap="MenusMap">
        <include refid="m1" />
        where p1.ps_pid = #{id} and p1.ps_id=p2.ps_id and p1.ps_level='1' ORDER BY p2.ps_api_order ASC
    </select>
<!--    查询部门的列表-->
    <select id="getDemenus" parameterType="Integer" resultType="Department">
        select company_id,dnumber,dname,manager_id,daddress from sys_com_department where company_id = #{cid}
    </select>
<!--    查询职位信息列表-->
    <resultMap id="EmployeeMap" type="Employee">
        <id property="eid" column="employee_id" />
        <result property="aid" column="archive_id" />
        <result property="cid" column="company_id" />
        <result property="lname" column="emp_name" />
        <result property="emp_position" column="emp_position" />
    </resultMap>
    <select id="getGmenus" parameterType="Integer" resultType="PositionVo">
        select employee_id,archive_id,company_id,emp_position from sys_com_employee where company_id = #{cid} group by emp_position
    </select>
    <select id="getNamemenus" parameterType="Integer" resultMap="EmployeeMap">
        select employee_id,archive_id,company_id,emp_name from sys_com_employee where company_id = #{cid} group by emp_name
    </select>
</mapper>
